<!DOCTYPE html>
<html>
<head>
    <title>filefly</title>
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" ./>
</head>
<body>
<h1>扫描二维码</h1>
<div class="app-location">
    <h2>filefly</h2>
    <div class="line"><span></span></div>
    <div class="location"><img src={{.}} class="img-responsive" alt=""/></div>
    <form enctype="multipart/form-data" action="/exit" method="post">
        <input type="submit" value="退出服务并清除缓存"/>
    </form>
        <div class="line"><span></span></div>
    <br><br><br>
    <form enctype="multipart/form-data" action="/" method="post">
        <input type="submit" value="继续上传"/>
    <div class="line"><span></span></div>
</div>

</body>
</html>