<!DOCTYPE html>
<html>
<head>
    <title>filefly</title>
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" ./>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
</head>
<body>
<h1>Welcome to filefly</h1>
<div class="app-location">
    <h2>filefly</h2>
    <div class="line"><span></span></div>
    <div class="location"><img src="images/location.png" class="img-responsive" alt=""/></div>
    <form enctype="multipart/form-data" action="/upload" method="post">
        上传文件<input type="file" name="uploadfile"/>
        <input type="submit" value="上传"/>
    </form>
    <div class="line"><span></span></div>
</div>

</body>
</html>